.banner{
    height: 300px;
    width: 100%;
    position: relative;
    img{
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
    }
  }

  @media screen  and  (max-width:500px){

    .banner {
     
      // align-items: center;
      // align-content: center;
      // text-align: center;
      height: 190px;


    img{
      // height: 100vh;
    }
    }
}