html{
    // background-color: #ccc;
    
}
.login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.container{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 30px;

    input{
        width: 94.5%;
        padding: 5px;
        // margin-top: 5px;
        border: 0.5px solid #ccc;
    }
    input:hover{
        box-shadow: 0 0 10px 0px rgba(243, 227, 4, 1);
    }
   
    h1{
        padding: 5px;
        margin: 0;
        
    }
    hr{
        width: 100%;
        margin-top: 20px;
    }
    button{
        font-weight: 90px;
        font-size: medium;
        padding:5px;
        background-color:#f0c14b;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        padding: 10px 10px;
        border-radius: 3px;
        cursor: pointer;

    }
}
