html{
    // background-color: #ccc;
    
}
.login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.login_container{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 30px;

    .login_input{
        width: 2800%;
        padding: 5px;
        // margin-top: 5px;
        border: 0.5px solid #ccc;
    }
    .login_input:hover{
        box-shadow: 0 0 10px 0px rgba(243, 227, 4, 1);
    }
   
    h1{
        padding: 5px;
        margin: 0;
        
    }
    hr{
        width: 100%;
        margin-top: 20px;
    }
    button{
        font-weight: 90px;
        font-size: medium;
        padding:5px;
        background-color:#f0c14b;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        padding: 10px 10px;
        border-radius: 3px;
        cursor: pointer;

    }
   
}

@media screen and(max-width : 500px){
    .login{
    
        align-items: center;
        justify-content: center;
        align-content: center;
        // text-align: center;

    
.login_container{
// width:200px ;

}
.login_input{
    width: 2500%;
   
}
    }

h1{
    font-size: 15px;
}


}

